body {
    margin: 0;
    background-color: #1c1d1d;
}

#tetris {
    padding: 3rem;
    text-align: center
}

#tetris h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

#tetris canvas {
    display: block;
    margin: 0 auto;
    /* border: 4px solid #f5cd79; */
}